.navigation {
  padding: 2rem 2rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navigation a {
  font-weight: bold;
  padding: 1rem;
}

.navigation a[aria-current="page"] {
  text-decoration: underline;
  border: 2px solid #777;
  border-radius: .5rem;
}
